recursive-include tests *.py *.json *.npz *.txt
include CHANGELOG.md CITATION.cff
recursive-include docs *.md *.example
recursive-include notebooks *.ipynb
recursive-include validation *.json *.npz *.md
recursive-include src *.py
